In [1]:
import os
os.chdir('..')
import warnings
warnings.filterwarnings('ignore')
import logging
logging.basicConfig(level=logging.INFO, format='%(asctime)s - %(levelname)s - %(message)s')

import pandas as pd

>> ## Prediction of Store Sales

>>> ## Preprocessing

## Load Datasets

In [5]:
train_data_path = 'Data/train.csv'
test_data_path ='Data/test.csv'
store_data_path ='Data/store.csv'

In [6]:
from scripts.data_loader import load_data

In [7]:
train_data, test_data, store_data = load_data(train_data_path,test_data_path,store_data_path)

2025-01-10 14:24:34,972 - INFO - Loading data from file...
2025-01-10 14:24:35,548 - INFO - Train Data, Test Data and Store Data loaded with shape (1017209, 9), (41088, 8), and (1115, 10) respectively

In [8]:

train_data = pd.merge(train_data, store_data, on='Store', how='inner')
test_data = pd.merge(test_data, store_data, on='Store', how='inner')

In Our dataset of stateHoliday columns have 0(int) and 0(str) so we have to convert into the same type

In [10]:
def replace_0_state_holiday(char):
    if char == 0:
        return '0'
    else:
        return char
train_data['StateHoliday'] = train_data['StateHoliday'].apply(replace_0_state_holiday)
test_data['StateHoliday'] = test_data['StateHoliday'].apply(replace_0_state_holiday)

In [11]:
train_data.head(10)

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1,5,2015-07-31,5263,555,1,1,0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
1,2,5,2015-07-31,6064,625,1,1,0,1,a,a,570.0,11.0,2007.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct"
2,3,5,2015-07-31,8314,821,1,1,0,1,a,a,14130.0,12.0,2006.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct"
3,4,5,2015-07-31,13995,1498,1,1,0,1,c,c,620.0,9.0,2009.0,0,NaN,NaN,NaN
4,5,5,2015-07-31,4822,559,1,1,0,1,a,a,29910.0,4.0,2015.0,0,NaN,NaN,NaN
5,6,5,2015-07-31,5651,589,1,1,0,1,a,a,310.0,12.0,2013.0,0,NaN,NaN,NaN
6,7,5,2015-07-31,15344,1414,1,1,0,1,a,c,24000.0,4.0,2013.0,0,NaN,NaN,NaN
7,8,5,2015-07-31,8492,833,1,1,0,1,a,a,7520.0,10.0,2014.0,0,NaN,NaN,NaN
8,9,5,2015-07-31,8565,687,1,1,0,1,a,c,2030.0,8.0,2000.0,0,NaN,NaN,NaN
9,10,5,2015-07-31,7185,681,1,1,0,1,a,a,3160.0,9.0,2009.0,0,NaN,NaN,NaN

#### Create all the date features from our date columns

In [13]:
from scripts.feature_engineering import create_date_features

train_data=create_date_features(train_data)

2025-01-10 14:39:45,684 - INFO - Creating date features.
2025-01-10 14:39:45,684 - INFO - Creating date features.

In [14]:
train_data.head(10)

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,StoreType,...,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval,Year,Month,Day,WeekOfYear,IsWeekend
0,1,5,2015-07-31,5263,555,1,1,0,1,c,...,2008.0,0,NaN,NaN,NaN,2015,7,31,31,1
1,2,5,2015-07-31,6064,625,1,1,0,1,a,...,2007.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct",2015,7,31,31,1
2,3,5,2015-07-31,8314,821,1,1,0,1,a,...,2006.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct",2015,7,31,31,1
3,4,5,2015-07-31,13995,1498,1,1,0,1,c,...,2009.0,0,NaN,NaN,NaN,2015,7,31,31,1
4,5,5,2015-07-31,4822,559,1,1,0,1,a,...,2015.0,0,NaN,NaN,NaN,2015,7,31,31,1
5,6,5,2015-07-31,5651,589,1,1,0,1,a,...,2013.0,0,NaN,NaN,NaN,2015,7,31,31,1
6,7,5,2015-07-31,15344,1414,1,1,0,1,a,...,2013.0,0,NaN,NaN,NaN,2015,7,31,31,1
7,8,5,2015-07-31,8492,833,1,1,0,1,a,...,2014.0,0,NaN,NaN,NaN,2015,7,31,31,1
8,9,5,2015-07-31,8565,687,1,1,0,1,a,...,2000.0,0,NaN,NaN,NaN,2015,7,31,31,1
9,10,5,2015-07-31,7185,681,1,1,0,1,a,...,2009.0,0,NaN,NaN,NaN,2015,7,31,31,1

In [15]:
train_data.columns

Index(['Store', 'DayOfWeek', 'Date', 'Sales', 'Customers', 'Open', 'Promo',
       'StateHoliday', 'SchoolHoliday', 'StoreType', 'Assortment',
       'CompetitionDistance', 'CompetitionOpenSinceMonth',
       'CompetitionOpenSinceYear', 'Promo2', 'Promo2SinceWeek',
       'Promo2SinceYear', 'PromoInterval', 'Year', 'Month', 'Day',
       'WeekOfYear', 'IsWeekend'],
      dtype='object')

In [16]:
test_data.head(10)

,Id,Store,DayOfWeek,Date,Open,Promo,StateHoliday,SchoolHoliday,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1,1,4,2015-09-17,1.0,1,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
1,2,3,4,2015-09-17,1.0,1,0,0,a,a,14130.0,12.0,2006.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct"
2,3,7,4,2015-09-17,1.0,1,0,0,a,c,24000.0,4.0,2013.0,0,NaN,NaN,NaN
3,4,8,4,2015-09-17,1.0,1,0,0,a,a,7520.0,10.0,2014.0,0,NaN,NaN,NaN
4,5,9,4,2015-09-17,1.0,1,0,0,a,c,2030.0,8.0,2000.0,0,NaN,NaN,NaN
5,6,10,4,2015-09-17,1.0,1,0,0,a,a,3160.0,9.0,2009.0,0,NaN,NaN,NaN
6,7,11,4,2015-09-17,1.0,1,0,0,a,c,960.0,11.0,2011.0,1,1.0,2012.0,"Jan,Apr,Jul,Oct"
7,8,12,4,2015-09-17,1.0,1,0,0,a,c,1070.0,NaN,NaN,1,13.0,2010.0,"Jan,Apr,Jul,Oct"
8,9,13,4,2015-09-17,1.0,1,0,0,d,a,310.0,NaN,NaN,1,45.0,2009.0,"Feb,May,Aug,Nov"
9,10,14,4,2015-09-17,1.0,1,0,0,a,a,1300.0,3.0,2014.0,1,40.0,2011.0,"Jan,Apr,Jul,Oct"

#### Create all date features from date column for test dataset

In [17]:
test_data=create_date_features(test_data)

2025-01-10 14:42:22,098 - INFO - Creating date features.
2025-01-10 14:42:22,098 - INFO - Creating date features.

In [18]:
test_data.head(10)

,Id,Store,DayOfWeek,Date,Open,Promo,StateHoliday,SchoolHoliday,StoreType,Assortment,...,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval,Year,Month,Day,WeekOfYear,IsWeekend
0,1,1,4,2015-09-17,1.0,1,0,0,c,a,...,2008.0,0,NaN,NaN,NaN,2015,9,17,38,0
1,2,3,4,2015-09-17,1.0,1,0,0,a,a,...,2006.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct",2015,9,17,38,0
2,3,7,4,2015-09-17,1.0,1,0,0,a,c,...,2013.0,0,NaN,NaN,NaN,2015,9,17,38,0
3,4,8,4,2015-09-17,1.0,1,0,0,a,a,...,2014.0,0,NaN,NaN,NaN,2015,9,17,38,0
4,5,9,4,2015-09-17,1.0,1,0,0,a,c,...,2000.0,0,NaN,NaN,NaN,2015,9,17,38,0
5,6,10,4,2015-09-17,1.0,1,0,0,a,a,...,2009.0,0,NaN,NaN,NaN,2015,9,17,38,0
6,7,11,4,2015-09-17,1.0,1,0,0,a,c,...,2011.0,1,1.0,2012.0,"Jan,Apr,Jul,Oct",2015,9,17,38,0
7,8,12,4,2015-09-17,1.0,1,0,0,a,c,...,NaN,1,13.0,2010.0,"Jan,Apr,Jul,Oct",2015,9,17,38,0
8,9,13,4,2015-09-17,1.0,1,0,0,d,a,...,NaN,1,45.0,2009.0,"Feb,May,Aug,Nov",2015,9,17,38,0
9,10,14,4,2015-09-17,1.0,1,0,0,a,a,...,2014.0,1,40.0,2011.0,"Jan,Apr,Jul,Oct",2015,9,17,38,0

#### Check missing columns

In [20]:
missing_cols_in_test = set(train_data.columns) - set(test_data.columns)
print(missing_cols_in_test)

{'Sales', 'Customers'}

In [21]:
train_data = train_data.drop(columns='Customers')

In [22]:
missing_cols_in_test = set(train_data.columns) - set(test_data.columns)
print(missing_cols_in_test)

{'Sales'}

In [23]:
merged_train_data_store = pd.merge(train_data, store_data, on='Store', how='inner')
merged_test_data_store = pd.merge(test_data, store_data, on='Store', how='inner')


merged_train_data_store.columns

Index(['Store', 'DayOfWeek', 'Date', 'Sales', 'Open', 'Promo', 'StateHoliday',
       'SchoolHoliday', 'StoreType_x', 'Assortment_x', 'CompetitionDistance_x',
       'CompetitionOpenSinceMonth_x', 'CompetitionOpenSinceYear_x', 'Promo2_x',
       'Promo2SinceWeek_x', 'Promo2SinceYear_x', 'PromoInterval_x', 'Year',
       'Month', 'Day', 'WeekOfYear', 'IsWeekend', 'StoreType_y',
       'Assortment_y', 'CompetitionDistance_y', 'CompetitionOpenSinceMonth_y',
       'CompetitionOpenSinceYear_y', 'Promo2_y', 'Promo2SinceWeek_y',
       'Promo2SinceYear_y', 'PromoInterval_y'],
      dtype='object')

In [24]:
missing_cols_in_train = set(test_data.columns) - set(train_data.columns)
print(missing_cols_in_train)

{'Id'}

In [25]:
test_data = test_data.drop(columns='Id')

In [26]:
missing_cols_in_train = set(test_data.columns) - set(train_data.columns)
print(missing_cols_in_train)

set()

Beginning of the month, mid-month, and end of the month

In [28]:
from scripts.feature_engineering import month_period

train_data['MonthPeriod'] = train_data['Date'].dt.day.apply(month_period)
test_data['MonthPeriod'] = test_data['Date'].dt.day.apply(month_period)
train_data.head()

,Store,DayOfWeek,Date,Sales,Open,Promo,StateHoliday,SchoolHoliday,StoreType,Assortment,...,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval,Year,Month,Day,WeekOfYear,IsWeekend,MonthPeriod
0,1,5,2015-07-31,5263,1,1,0,1,c,a,...,0,NaN,NaN,NaN,2015,7,31,31,1,end
1,2,5,2015-07-31,6064,1,1,0,1,a,a,...,1,13.0,2010.0,"Jan,Apr,Jul,Oct",2015,7,31,31,1,end
2,3,5,2015-07-31,8314,1,1,0,1,a,a,...,1,14.0,2011.0,"Jan,Apr,Jul,Oct",2015,7,31,31,1,end
3,4,5,2015-07-31,13995,1,1,0,1,c,c,...,0,NaN,NaN,NaN,2015,7,31,31,1,end
4,5,5,2015-07-31,4822,1,1,0,1,a,a,...,0,NaN,NaN,NaN,2015,7,31,31,1,end

### Extract and sort holiday dates where 'StateHoliday' is a holiday ('a', 'b', 'c' indicate holidays)

In [29]:
import numpy as np
train_data['Date'] = pd.to_datetime(train_data['Date'])

holiday_dates = train_data[train_data['StateHoliday'].isin(['a', 'b', 'c'])]['Date'].unique()

holiday_dates = np.sort(holiday_dates)
print(holiday_dates)

['2013-01-01T00:00:00.000000000' '2013-01-06T00:00:00.000000000'
 '2013-03-29T00:00:00.000000000' '2013-04-01T00:00:00.000000000'
 '2013-05-01T00:00:00.000000000' '2013-05-09T00:00:00.000000000'
 '2013-05-20T00:00:00.000000000' '2013-05-30T00:00:00.000000000'
 '2013-08-15T00:00:00.000000000' '2013-10-03T00:00:00.000000000'
 '2013-10-31T00:00:00.000000000' '2013-11-01T00:00:00.000000000'
 '2013-11-20T00:00:00.000000000' '2013-12-25T00:00:00.000000000'
 '2013-12-26T00:00:00.000000000' '2014-01-01T00:00:00.000000000'
 '2014-01-06T00:00:00.000000000' '2014-04-18T00:00:00.000000000'
 '2014-04-21T00:00:00.000000000' '2014-05-01T00:00:00.000000000'
 '2014-05-29T00:00:00.000000000' '2014-06-09T00:00:00.000000000'
 '2014-06-19T00:00:00.000000000' '2014-10-03T00:00:00.000000000'
 '2014-10-31T00:00:00.000000000' '2014-11-01T00:00:00.000000000'
 '2014-11-19T00:00:00.000000000' '2014-12-25T00:00:00.000000000'
 '2014-12-26T00:00:00.000000000' '2015-01-01T00:00:00.000000000'
 '2015-01-06T00:00:00.000000000' '2015-04-03T00:00:00.000000000'
 '2015-04-06T00:00:00.000000000' '2015-05-01T00:00:00.000000000'
 '2015-05-14T00:00:00.000000000' '2015-05-25T00:00:00.000000000'
 '2015-06-04T00:00:00.000000000']

### Calculate the days to the nearest future or past holiday for a specific holiday type
### Split holiday types 'a', 'b', 'c' into separate lists